@media (max-width: 400px)
  .navbar
    &__contacts
      margin: 0
    &__line
      width: 24px
  .main-display
    height: 700px
    &__title
      margin-bottom: 0
      font-size: 30px
    &__description
      font-size: 14px  