.features
  padding-top: 27px
  &__title
    margin-bottom: 50px
    font-family: Montserrat Alternates
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 150.19%
    color: $text-color-secondary
  &__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
  &__card
    display: flex
    flex-direction: column
    flex-basis: 46%
    &-icon
      &_produce
        width: 63px
        height: 59px
      &_individual
        width: 68px
        height: 67px
      &_guarantee
        width: 43px
        height: 60px
      &_control
        width: 92px
        height: 44px
    &-title
      font-family: Montserrat Alternates
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 150.19%
      color: $text-color-secondary
      &_produce
        margin-top: 10px
        margin-bottom: 20px
      &_individual
        margin-top: 16px
        margin-bottom: 19px
      &_guarantee
        margin-top: 17px
        margin-bottom: 10px
      &_control
        margin-top: 25px
        margin-bottom: 18px
    &-description
      max-width: 323px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 147%
      color: $text-color-secondary
      &_produce
        margin: 0
        margin-bottom: 54px
        max-width: 291px
      &_individual
        margin: 0
        margin-bottom: 54px
      &_guarantee
        margin: 0
      &_control
        margin: 0

